<div class="disclaimer-bar">
    <div class="usa-grid">
        <p>This site is a work-in-progress. If you can't find what you need here, visit <a href = "http://opengovpartnership.bloomfire.com">opengovpartnership.bloomfire.com.</a>
        Forked from our friends at the <a href="https://usds.gov" target="_blank">U.S. Digital Service.</a>
      <!-- <img class="eop-seal" alt="An image City of Austin seal" src="/img/layout/seal.png" /> --></p>
    </div>
</div>
<footer>
  <div class="usa-grid">
    <div class="usa-width-one-fourth footer-block">
      <ul>
        <!-- <li class = "nav-item"><img class="usds-logo" alt="The seal of the City of Austin" src="{{ site.baseurl }}/img/layout/CoA-Seal-BW.png" />
        </li>
        <li class="nav-item {% if page.url == '/team.html' %}active{% endif %}">
          <a href="{{ site.baseurl }}/about"><span>About</span></a>
        </li>
        <li class="nav-item {% if page.url == '/project-tracker.html' %}active{% endif %}">
          <a href="https://opengovpartnership.bloomfire.com/posts/1365870-inventory-of-austin-s-open-gov-smart-city-projects"><span>Project Tracker</span></a>
        </li>
        <li><a href="https://cityofaustin.github.io/innovation/">Office of Innovation</a></li>
        <li><a href="https://www.austintexas.gov/techreport/communications-and-technology-management">Office of Communications &amp; Technology Management</a></li>
        <br> -->
        <li><a href="http://austintexas.gov/" target="_blank">City of Austin</a></li>
        <li><a href="http://leadershipaustin.org/" target="_blank">Leadership Austin</a></li>
        <li><a href="https://www.open-austin.org/" target="_blank">Open Austin</a></li>
        <li><a href="https://www.opengovpartnership.org/" target="_blank">Open Government Partnership</a></li
          <li><a href="https://austintexas.gov/visionzero" target="_blank">Vision Zero</a></li>
      </ul>
      <br>
      <div class="contact-button-container">
        <a href="mailto:ogp@austintexas.gov"><button class="contact-button">Contact Us</button></a>
        <!-- <a href="https://github.com/cityofaustin/ogp-site" target="_blank"><button class="contribute-button">Contribute to this site</button></a> -->
      </div>

    </div>
  </div>
  <img class = "stripe" src = "./img/layout/footer/ogp-logo_stripe-bar.jpg"/>


</footer>
