<header id="fixed-header" role="banner">

  <nav class="site-navbar">

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <div class="desktop">
        <ul class="usa-unstyled-list">
          <li class="nav-centerpiece">
            <a id = "logo-desktop-full" href="{{ site.baseurl }}/">
              <img alt="The logo of the Austin Innovation Fellows" src="{{ site.baseurl }}/img/layout/ogp-logo.png" />
            </a>
          </li>
          <li class="nav-item {% if page.url == '/team.html' %}active{% endif %}">
            <a href="{{ site.baseurl }}/"><span>Home</span></a>
          </li>
          <li class="nav-item {% if page.url == '/team.html' %}active{% endif %}">
            <a href="{{ site.baseurl }}/about"><span>About</span></a>
          </li>
          <li class="nav-item {% if page.url == 'https://opengovpartnership.bloomfire.com/posts/1365870-inventory-of-austin-s-open-gov-smart-city-projects' %}active{% endif %}">
            <a href="https://opengovpartnership.bloomfire.com/series/35084-commitment-5-project-tracking-tool" target="_blank"><span>Project Tracker</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="mobile">
      <a href="{{ site.baseurl }}/">
        <img alt="The logo of the  Austin Innovation Fellows" src="{{ site.baseurl }}/img/layout/ogp-logo.png" />
      </a>
      <button class="navbar-toggle collapsed">
        <div class="navbar-text">Menu</div>
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-patty"></span>
        <span class="hamburger-patty"></span>
        <span class="hamburger-patty"></span>
      </button>
      <div class="mobile-nav collapsed">
        <ul class="usa-unstyled-list">
          <li class="nav-item">
            <a href="{{ site.baseurl }}/about">About</a>
<!--             <ul>
              <li class="nav-item"><a href="/mission">Our Mission</a></li>
              <li class="nav-item"><a href="/values">Our Values</a></li>
              <li class="nav-item"><a href="/story">Our Story</a></li>
            </ul> -->
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/project-tracker">Project Tracker</a>
          </li>
      </div>
    </div>
  </div>
  </nav>
</header>
</div>
